In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('Downloads/Book1.csv')

In [3]:
df

          day  temperature  windspeed  event
0  01-01-2024           32          6   Rain
1  01-02-2024           35          7  Sunny
2  01-03-2024           28          2   Snow
3  01-04-2024           24          7   Snow
4  01-05-2024           32          4   Rain
5  01-06-2024           32          2  Sunny

In [4]:
weather_data=[
    ('1/1/2017',32,6,'rain'),
    ('1/2/2017',35,7,'snow'),
    ('1/3/2017',35,7,'snow'),
]    
df=pd.DataFrame(weather_data,columns=["day","temperature","windspeed","events"])
df

        day  temperature  windspeed events
0  1/1/2017           32          6   rain
1  1/2/2017           35          7   snow
2  1/3/2017           35          7   snow

In [5]:
 df= pd.read_csv("Downloads/Book2.csv",na_values={
     "eps":["not avalible","n.a"],
     "revenue":["not avalible","n.a",-1],
     "people":["not avalible","n.a"],
     "price":["not avalible","n.a"]
 })

In [6]:
df

  tickers    eps  revenue   price         people
0  GOOGLE  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3     RIL    NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [7]:
df.to_csv('new.csv',index=False)

In [8]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [9]:
df.to_csv("new.csv",columns=['tickers','eps'])

In [10]:
df.to_csv("new.csv",header=False)